html, body, .App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  margin-top: 10px;
}
#root {
  margin: 0 auto;
}

.run-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  margin-top: 90px;
}

.run-box {
  border: 1px solid #ebe7e7;
  border-radius: 8px;
  padding: 16px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}

.run-box:hover {
  box-shadow: 0 4px 8px rgba(134, 127, 127, 0.15);
}

.run-id {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.status {
  font-weight: bold;
  text-transform: capitalize;
}

.status.pending {
  color: red;
}
.status.in_progress {
  color: yellow;
}
.status.completed {
  color: green;
}


.labeling-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.visualization {
  display: flex;
  flex-direction: column;
  gap: 40px; 
  width: 100%;
}

.graphs {
  position: relative;
  width: 98%;
  padding: 16px;
  background-color: #333131;
  border-radius: 12px;
  overflow: hidden;
}

.video {
  transform: translate(170%, 12%);
  width: 20%;
  padding: 16px;
  background-color: #333131;
  border-radius: 12px;
}

.playhead-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 81px;
  right: 20px;
  overflow: hidden;
  pointer-events: none;
}

.playhead-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: red;
  pointer-events: none; 
}